$include /etc/inputrc
"\e[A": history-search-backward
"\e[B": history-search-forward
set show-all-if-ambiguous on
set completion-ignore-case on


TAB: menu-complete
"\e[Z": menu-complete-backward

"\033[1;5C": forward-word
"\033[1;5D": backward-word
